
@import 'style-global.css';

main {
    margin-inline: auto;
    max-width: 1440px;
}

body {
    background-color: #281BB9;
}

h1 {
    color: #FFFFFF;
    font-size: 33px;
    text-align: center;
    margin-top: 210px;
}

.cabecalho-mapa {
    margin-inline: auto;
    max-width: 1188px;
}

.cabecalho-mapa p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    max-width: 1440px;
}

.mapa img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.info-cabecalho-mapa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1188px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    
}

.follow-us p {
    font-size: 20px;
    text-align: left;
    max-width: 1188px;
    margin-left: 17px;
}

.follow-us img {
    width: 60px;
    height: 60px;
}

.icones-follow-us {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    
}

.telefone {
    display: flex;
    align-items: center;
    gap: 25px;
}

.telefone p {
    font-size: 20px;
}

.telefone img {
    height: 30px;
    width: 30px;
}

.location {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.location p {
    font-size: 20px;
    text-align: left;
}

.location img {
    width: 29px;
    height: 29px;
    
}

.formulario {
    max-width: 1440px;
    height: 858px;
    background-color: #1C140F;
    margin-top: 147px;
    border: none;
}

#say-hello {
    color: #FFFFFF;
    font-size: 30px;
    margin-inline: auto;
    margin: auto;
    max-width: 671px;
    padding-top: 60px;
}

.formulario p {
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;

    padding-top: 10px;
    max-width: 671px;
    margin-inline: auto;
    margin: auto;
}

.box-formulario {
    margin-inline: auto;
    max-width: 671px;
    margin-top: 79px;
    border: solid 2px #FA9021;
}


#message {
    max-width: 671px;
    height: 232px;
}

.fifth-part {
    margin-inline: auto;
    max-width: 1170px;
}

.fifth-part p {
    color: #FFFFFF;
}

#p1-fifth-part {
    font-size: 30px;
    font-weight: bold;
    
    margin: 105px 0 32px 0;
}

#p2-fifth-part {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 74px;
}

.box-fifthpart {
    background-color: #1C140F;
    border-radius: 15px;

    width: 1170px;
    height: 189px;
    margin-bottom: 163px;
}

.info-box-fifthpart {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1064px;
    
    margin-inline: auto;
}

#stay-in-the-loop {
    font-size: 30px;
    margin: 40px 0 12px 0;
}

#info-about-email {
    font-size: 17px;
    margin: 0;
}

#emailAddress {
    width: 386px;
    height: 48px;

    background-color: #FFFFFF;
    border-radius: 10px;
}

.validate-email {
    font-size: 13px;
    background-color: #DC7000;
    color: #FFFFFF;

    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

