@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: white;
}

header {
    max-width: 1321px;
    margin-inline: auto;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

nav .links {
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-right: 0px;
}

.logo {
    font-size: 29px;
    font-weight: bold;
}

#contact-us {
    font-size: 13px;
    padding: 10px 15px;
    margin-left: 0px;
    border: none;
    border-radius: 3px;

    background-color: #FA9021;
    color: white;

    display: flex;
    align-items: center;
}

.fifth-part {
    margin-inline: auto;
    max-width: 1170px;
}


#p1-fifth-part {
    font-size: 30px;
    font-weight: bold;
    
    margin: 105px 0 32px 0;
}

#p2-fifth-part {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 74px;
}

.box-fifthpart {
    background-color: #1C140F;
    border-radius: 15px;

    width: 1170px;
    height: 189px;
    margin-bottom: 163px;
}

.info-box-fifthpart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1064px;
    
    padding-top: 40px;
    margin-inline: auto;
}

#stay-in-the-loop {
    font-size: 30px;
    margin: 0;
    line-height: 30px;
    padding-bottom: 10px;
}

#info-about-email {
    font-size: 17px;
    margin: 0;
    line-height: 30px;
}

.email-control {
    position: relative;
    
}

.email-control input {
    width: 350px;
    max-width: 386px;
    height: 48px;
    padding: 0 16px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: none;
    
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.email-control button {
    font-size: 13px;
    background-color: #DC7000;
    color: #FFFFFF;

    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 10%;
}

#message-error {
    color: #B4003C;
    font-size: 15px;
}

#message-sucess {
    color: #659056;
    font-size: 15px;
}

footer {
    color:#FFFFFF;

    max-width: 1440px;
    height: 376px;
    background-color: #1C140F;
    margin-inline: auto;
}

.container-footer {
    max-width: 1219px;
    height: 161px;
    padding-top: 73px;

    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    
}

.column-logo {
    width: 372px;
}

#logo-footer {
    margin: 0;
}

#info-logo-footer {
    font-size: 16px;
    line-height: 30px;

    margin: 15px 0px 25px 0px;
}

.column-aboutus {
    width: 158px;
}

.column-aboutus p {
    margin: 0;
    line-height: 30px;
}

#about-us-footer {
    font-size: 17px;
    padding-bottom: 20px;
}

.column-contactus {
    width: 282px;
}

.column-contactus p {
    margin: 0;
    line-height: 30px
}

#text-contact-footer {
    padding: 20px 0px 0px 0px;
}

.icones-footer {
    width: 184px;
    margin-top: 129px;
}

.icones-footer img {
    width: 40px;
    height: 40px;
}

.rodape {
    margin-inline: auto;
    text-align: center;

    max-width: 1440px;
    height: 83px;
    margin: 53px auto;
    border: solid 2px #FFFFFF;

    border-bottom: none;
    border-left: none;
    border-right: none;
}

#rodape-text {
    font-size: 13px;

    margin: 29px auto;
}



