@import 'style-global.css';

p {
    color: #FFFFFF;
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

body {
    background-image: linear-gradient(#2E2689, #332E62);
    position: relative;
}

.cabecalho {
    max-width: 1046px;
    
    margin: auto;
    text-align: center;

    margin-top: 270px;
    position: relative;
}

.lanterna-404 {
    position: absolute;
    left: 32%;
    top: 400px;
    max-width: 1000px;
    z-index: -1
}

#page-notfound {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin: auto;
}

.fifth-part {
    margin-inline: auto;
    max-width: 1170px;
    margin-top: 700px;
}


#p1-fifth-part {
    font-size: 30px;
    font-weight: bold;
    
    margin: 105px 0 32px 0;
}

#p2-fifth-part {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 74px;
}

.box-fifthpart {
    background-color: #1C140F;
    border-radius: 15px;

    width: 1170px;
    height: 189px;
    margin-bottom: 163px;
}

.info-box-fifthpart {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1064px;
    
    margin-inline: auto;
}

#stay-in-the-loop {
    font-size: 30px;
    margin: 40px 0 12px 0;
}

#info-about-email {
    font-size: 17px;

    margin: 0;
}

#emailAddress {
    width: 386px;
    height: 48px;

    background-color: #FFFFFF;
    border-radius: 10px;
}

.validate-email {
    font-size: 13px;
    background-color: #DC7000;
    color: #FFFFFF;

    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

footer {
    margin-top: 200px;
}

/*.cabecalho img {
    margin-inline: auto;
    max-width: 60%;
    opacity: 0.50;
}*/

