@import 'style-global.css';

p {
    color: #FFFFFF;
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

body {
    background-image: linear-gradient(#2E2689, #332E62);
    position: relative;
}

.erro-404 img {
    width: 800px;
    height: 800px;
    opacity: 0.5;
    
}

.erro-404 {
    margin-inline: auto;
    text-align: center;
    max-width: 1046px;
}







